@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(10, 88, 77); 
  background: linear-gradient(
    to left top,
    rgb(163, 23, 23),
    rgb(184, 137, 61)
  );
  font-family: "Poppins", sans-serif;
}

.container {
 width: 30px;
  height: 50px;
  background-image: url(images/IMG_3673.jpg);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 4rem;
  border-radius: 0.5rem;
  width: 1000px;
  min-height: 600px;
  max-width: 90%;
  box-shadow: 1px 5px 6px rgb(80, 80, 80);
}

.container  .type-Input{
  margin-top: 4rem;
  font-size: 3rem;
}

.timer{
  position: absolute;
  top: 0.5rem;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(15, 1, 1);
}

.typeDisplay {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.type-input {
  background: transparent;
  border: 2px solid rgb(233, 231, 231);
  outline: none;
  width: 100%;
  height: 14rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 3rem;
}

.type-Input:focus {
  border-color: white;
}

.correct {
  color: green;

}
.incorrect{
  color: red;
  text-decoration: underline;
}
.nonecolor{
  color: white;
}